body{
    font-family: 'Antic Slab', serif;

}
#cart{
    height: 50px;
    width: auto;

}
 .navbar{
    width: auto;
    height: 1in;
    font-size: 2rem;} 
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
 .map{
     height: 200px;
     width: 200px;
     margin-left: 200px;
     margin-right: 200px;
 }
 .card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
.card2{
    position: absolute;
    top: 100px;
    left:700px;
    background-color: white;
    height: auto;
    width: 600px;
}