
/* Monitors */
@media only screen and (max-width : 8000px) {
  body{
      width: 6000px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 3500px) {
  body{
      width: 2000px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 2500px) {
      body{
          width: 2000px;
      }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 1500px) {
  body{
      width: 1000px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 1000px) {
  body{
      width: 500px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 520px) {
  body{
      width: 320px;
  }
}

body{
    font-family: 'Lemonada', cursive;
    background-color: rgb(161, 242, 245);
    color: black;

}
.navbar{
    background-color: #ffee00;
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
    
}

.map{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-right: 200px;
}
.footer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
}
 nav{
    color:black;
    height: 1.5in;
    font-size: 2rem;
}
#body{
    height: 100%;
    width: 100%;

} 

img{
    width: 100%;
    height: auto;
    z-index: 0;
}
a{
    color: black;
}
