body{
    font-family: 'Lemonada', cursive;
    background-color: rgb(161, 242, 245);
    color: black;

}
.navbar{
    background-color: #ffee00;
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
    
}

.map{
    height: 200px;
    width: 200px;
    margin-left: 200px;
    margin-right: 200px;
}
.footer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
}
 nav{
    color:black;
    height: 1.5in;
    font-size: 2rem;
}
#body{
    height: 100%;
    width: 100%;

} 

img{
    width: 100%;
    height: auto;
    z-index: 0;
}
a{
    color: black;
}