body{
  font-family: 'Lemonada', cursive;
  margin-right: 0;
  padding-right: 0%;
  background-color: rgb(161, 242, 245);
  color: black;

}
.border-right{
  background-color: #f0e444;
  width: 300px;
  text-align: center;
  font-size: 40px;
  height: 101.5vh;;
  z-index: 1;
}
#cart{
    height: 25px;
    width: auto;
    

}

.left {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #677C3C;
    /* overflow-x: visible; */
    padding-top: 20px;
  

  }

.left a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
  }
  
.left :hover {
    color: #f1f1f1;
  }
  
#search{
    width: 130px;
      margin-bottom: 10px;
     
  }
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
   
    
}
#sidebar-wrapper{
  color:black;
}
#btn{
    width: 130px;

}

#footer{
  display: flex;
 justify-content: space-between;
  width:100%;
  height: 50%;
  z-index: 0;

}
.link{
  margin-bottom: 20px ;
  color:white;
}
#header{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
    height: 100%;
}

nav{
  height: 100%;
  

}
#phone{
 
  display: inline-block;
  text-align: center;
  margin-right: 500px;
}
#map{
  
  display: inline-block;
  text-align: center;
  

}
#hours{

  display: inline-block;
  text-align: center;
  margin-left: 500px;

}
#adddiv{
  height: min-content;
}
#add{
  position:absolute;
    bottom:0;
    right:0;
}

#animals{
  display: table;
  width: 90vw;
}
.dog{
  display: flex;
  flex-direction: row;
  border-bottom: black solid 3px ;
  margin-bottom: 20px;
  position:relative;
 

}
#pic{
  height: 300px;
  width:300px;
  border: 6px double #000000;
}
.body{
  font-size: 40px;
  margin-left: 10px
}
#bone{
  height: max-content;
  width: auto;
}
.col-8{
  padding:0;
  margin: 5px
}

a{
  color: black;
}

